[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath = /var/opt/BESClient
LibPath = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\C_Code]
value = I235

[Software\BigFix\EnterpriseClient\Settings\Client\GTS_DEVICE]
value = SERVER

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value = http://10.121.151.142:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value = http://10.121.151.142:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value = 0

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Register_Affiliation_SeekList]
value = C_CODEALL

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Download_DownloadsCacheLimitMB]
value = 4096

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Download_PreCacheStageDiskLimitMB]
value = 4096
